<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Forecasting App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="container">
        <img src="./images/image2.webp" style="height: 100vh;" class="back-img">
        <div class="search-box">
            <form action="/" method="post">
                <input type="text" name="city" id="city" placeholder="Search a city...." autocomplete="off">
                <button type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#3c3c3c" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg></button>
            </form>
        </div>

        <div class="data">
            <p class="place-info"><%= locDate.location %></p>
            <p class="temp"><%= locDate.temp %> °C</p>
            <p class="desc"><%= locDate.desc %></p>
        </div>

        <div class="view-more-box">
            <p class="view">View More</p>
            <svg class="svg" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="#ffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><path d="M6 9l6 6 6-6"/></svg>
        </div>

        <div class="info-card">
            <div class="flex"><p class="feel">Feels-like:</p><p class="feel"><%= locDate.feel %>°C</p></div>
            <div class="flex"><p class="humidity">Humidity:</p><p class="feel"><%= locDate.humidity %>%</p></div>
            <div class="flex"><p class="windSpeed">Wind-Speed:</p><p class="feel speed"><%= locDate.speed %> m/hr</p></div>
        </div>

        <div class="date-time">
            <p class="time">Time</p>
            <p class="date">Day and Date</p>
        </div>
    </div>
    <script src="./js/app.js"></script>
</body>
</html>